/** Our Theme */
:root {
  --pico-font-family: "Nunito", sans-serif;
}

/** Fix inconsistencies in default styling */
details.dropdown > summary + ul {
  box-shadow: none;
}
nav li a {
  --pico-color: var(--pico-form-element-placeholder-color);
  --pico-underline: var(--pico-form-element-placeholder-color);
}
footer p {
  margin-bottom: 0;
  font-size: 10pt;
}
details.dropdown > summary + ul {
  margin-top: 0.25rem;
}
.hero > main > h1, .hero > main > p {
  width: 100%;
}

/** Add icon after links pointing to other sites */
a[target="_blank"]:after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  mask-image: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-color: var(--pico-dropdown-color);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.25em;
}

/** Hero styling */
.hero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.hero main {
  width: 100vw;
  height: -webkit-fill-available;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/** Dark theme icon */
[type=checkbox][role=switch][name=theme]:checked::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278'/%3E%3Cpath d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097z'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278'/%3E%3Cpath d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097z'/%3E%3C/svg%3E");
  background-color: var(--pico-primary-inverse);
}
[type=checkbox][role=switch][name=theme]:before {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transition: margin .1s ease-in-out,background-color .1s ease-in-out;
}

/** Light theme icon */
[type=checkbox][role=switch][name=theme]:not(:checked)::before {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708'/%3E%3C/svg%3E");
    background-color: var(--pico-primary-inverse);
}
[type=checkbox][role=switch][name=theme]:before {
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: margin .1s ease-in-out,background-color .1s ease-in-out;
}

/** Timeline - credit: Yohn's Fork */
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.timeline::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 6px;
    margin-left: -3px;
    background-color: var(--pico-secondary-background);
    border-radius: 3px;
    content: "";
}
.timeline>section {
  position: relative;
  width: 50%;
  padding: 10px 25px;
  background-color: inherit;
}
.timeline>.left {
  left: 0;
}
.timeline>.right {
  left: 50%;
}
.timeline>.left::before {
  z-index: 1;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  border: medium solid var(--pico-card-sectioning-background-color);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--pico-card-sectioning-background-color);
  content: " ";
}
.timeline>.right::before {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 0;
  height: 0;
  border: medium solid var(--pico-card-sectioning-background-color);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--pico-card-sectioning-background-color) transparent transparent;
  content: " ";
}
.timeline>::after {
  z-index: 1;
  position: absolute;
  top: 13px;
  right: -13px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--pico-card-sectioning-background-color);
  border-radius: 50%;
  background-color: var(--pico-secondary-background);
  content: "";
}
.timeline>.right::after {
    left: -13px;
}